/*
  the code is organized in a slightly modified BEM
  format.  if you're curious about my approach to 
  CSS organization, i wrote an article about it 
  here: https://bit.ly/2Qlw6bg 
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}
a {
  text-decoration: none;
  color: inherit;
}

/*BLOCKS*/
.hamburgerIcon {
  padding-top: 10px;
}
.header {
  height: 40px;
  padding-left: calc((100vw - 370px) / 2);
}
.logo {
  height: 30px;
  padding-top: 10px;
}
.lowerResultList {
  list-style: none;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-right: 15px;
}
.nav {
  display: grid;
  grid-template-columns: 30px 30px auto 120px 120px;
  margin-left: 20px;
  padding-top: 5px;
  margin-bottom: 20px;
}
.searchCard {
  display: inline;
}
.searchTerm {
  font-size: 1.7em;
  font-family: serif;
  color: black;
}
.skipNav {
  position: absolute;
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}
.skipNav:focus {
  clip: unset;
  height: 20px;
  margin: unset;
  white-space: unset;
  overflow: unset;
  width: 100%;
  background-color: #a70303;
  color: white;
  text-align: center;
  margin-left: 0;
  outline-width: 5px;
}
.topResults {
  margin: unset;
  list-style: none;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 25px;
  margin-left: calc((100vw - 975px) / 2);
  margin-right: calc((100vw - 975px) / 2);
}

/*ELEMENTS*/
.lowerResult__author {
  font-size: 0.7em;
  font-weight: bolder;
  margin-left: 7px;
}
.lowerResult__image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  padding-right: 5px;
}
.lowerResult__title {
  display: inline;
  font-family: serif;
  font-size: 1.2em;
}
.lowerResultList__title {
  color: red;
  font-size: 0.8em;
  font-weight: bolder;
  margin-left: 40px;
  font-family: arial-black;
  display: block;
  margin-top: 20px;
}
.nav__link {
  font-family: arial-black;
  font-size: 0.8em;
  padding-top: 25px;
}
.search__input {
  line-height: 2em;
}
.search__label {
  margin-left: 20px;
  line-height: 2em;
  font-size: 0.8em;
  margin-right: 10px;
  font-family: arial-black;
}
.searchCard__image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.searchCard__title {
  display: inline-block;
}
.topResults__author {
  font-family: arial-black;
  font-size: 0.7em;
}
.topResults__title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  font-weight: normal;
}
.topResults__year {
  color: gray;
  font-family: arial-black;
  font-size: 0.6em;
}
.topResultsList__title {
  color: red;
  font-size: 0.7em;
  font-weight: bolder;
  margin-left: calc((100vw - 900px) / 2);
  font-family: arial-black;
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

/*MODIFIERS*/
.searchCard--rest {
  display: inline;
  border-top: 2px solid red;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 40px;
  padding-right: 20px;
  line-height: 4.3em;
  font-size: 1.2em;
}
/*MOBILE*/
@media only screen and (max-width: 600px) {
  /*top results*/
  .searchCard--topThree {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
  .topResults {
    grid-template-columns: 1fr;
    width: 400px;
    margin-left: calc((100vw - 400px) / 2);
  }
  .topResults__title {
    width: 300px;
  }
  .topResults__year {
    display: block;
  }
  .topResultsList__title {
    margin-left: calc((100vw - 400px) / 2);
  }
  /*nav*/
  .header {
    display: none;
  }
  .nav__link--mag {
    grid-column: 4;
  }
  .nav__link--sub {
    grid-column: 5;
  }
  .nav {
    grid-template-columns: 30px 30px auto 110px 110px;
  }
  /*lower results*/
  .lowerResult__image {
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
  }
  .lowerResult__text {
    grid-column: 2;
  }
  .lowerResult__title {
    font-size: 1em;
    word-wrap: break-word;
  }
  .lowerResultList__title {
    margin-left: 10px;
  }
  .lowerResultList {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: unset;
  }
  .searchCard--rest {
    padding: unset;
    margin: unset;
    line-height: unset;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: none;
    border-bottom: 2px solid red;
  }
  .searchCard--restLink {
    display: grid;
    grid-template-columns: 40px auto;
  }
}
