body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: inherit;
}

/*BLOCKS*/
.header {
  height: 40px;
  padding-left: calc((100vw - 370px)/2)
 /* justify-content: center;*/
}
.logo {
  height: 30px;
}
.nav {
  display: grid;
  grid-template-columns: 30px 30px auto 120px 120px;
  margin-left: 20px;
  padding-top: 5px;
}
.searchCard {
  display: inline;
}
.searchTerm {
 font-size: 1.7em;
 font-family: serif;
 color: black;
}
.skipNav {
  position: absolute;
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}
.skipNav:focus {
  clip: unset;
  height: 20px;
  margin: unset;
  white-space: unset;
  overflow: unset;
  width: 100%;
  background-color: #a70303;
  color: white;
  text-align: center;
  margin-left: 0;
  outline-width: 5px;
}
.topResults {
  margin: unset;
  list-style: none;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 25px;
  margin-left: calc((100vw - 975px) / 2);
  margin-right: calc((100vw - 975px) / 2);
}
.lowerResultList {
  list-style: none;
  /*border-bottom: 2px solid red;*/
  padding-bottom: 20px;
  margin-top: 0px;
}
/*ELEMENTS*/
.searchCard__image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.searchCard__title {
  display: inline-block;
}
.lowerResult__author {
  font-size: .7em;
  font-weight: bolder;
  margin-left: 7px;
}
.lowerResult__image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  padding-right: 5px;
}
.lowerResult__title {
  display: inline;
  font-family: serif;
  /*font-weight: bold;*/
  font-size: 1.2em;
}
.lowerResultList__title {
  color: red;
  font-size: .8em;
  font-weight: bolder;
  margin-left: 40px;
  font-family: arial-black;
  display: block;
  margin-top: 20px;
}
.nav__link {
   font-family: arial-black;
   font-size: .8em;
   padding-top: 25px;
}
.topResultsList__title {
  color: red;
  font-size: .7em;
  font-weight: bolder;
  margin-left: calc((100vw - 900px) / 2);
  font-family: arial-black;
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}
.topResults__author {
  font-family: arial-black;
  font-size: .7em;

}
.topResults__year {
	color:gray;
	font-family: arial-black;
	font-size: .6em;
}
.topResults__title {
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.3em;
	font-weight: normal;
}
/*MODIFIERS*/
.searchCard--rest {
  /*display: inline-flex;*/
  /*flex-wrap: wrap;*/
  display: inline;
  border-top: 2px solid red;
  padding-top: 25px;
  padding-bottom: 20px;
  height: 40px;
  padding-right: 20px;
  line-height: 4.3em;
  font-size: 1.2em;
}
